[submodule "dep/pugixml"]
	path = dep/pugixml
	url = https://github.com/zeux/pugixml
[submodule "dep/benchmark"]
	path = dep/benchmark
	url = https://github.com/google/benchmark
[submodule "dep/tinyxml2"]
	path = dep/tinyxml2
	url = https://github.com/leethomason/tinyxml2
